    <%- include("partials/header.ejs") %>
    <div id="content">
        <div class="container">
            <h1><%= day %></h1>
            
                <ul>
                    <% if(task_list.length!=0 ) { %>
                        <% task_list.forEach((i) => { %>
                            <li>
                                <div class="check_list">
                                    <form action="/delete" method="POST">
                                        <input onChange="this.form.submit()" value="<%= i._id %>" type="checkbox" id="check" name="checkbox">
                                        <label for="taskname"><%= i.name %></label>
                                        <input type="hidden" name="listName" value="<%= day %>">                                       
                                    </form>
                                </div>
                            </li>
                        <% }) %>
                    <% } else{%>
                        <li>
                            <label for="taskname">No tasks</label>
                        </li>
                    <% } %>
                </ul>
                <hr>
            <form action="/" method="POST">
                <div class="submit">                
                    <input type="text" id="taskname" name="newItem" placeholder="New Item" required>
                    <button type="submit" name="list" value="<%= day %>">+</button>
                </div>   
            </form>
        </div>
    </div>
    
</body>
</html>